header {
  z-index: 0;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  background-color: #b36200;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");

}

.your-name {
  font-size: 1.5em;
  margin: 0;
  color: bisque;
}

.profile-img {
  height: 55%;
  width: auto;

}


/* This is mostly intended for prototyping; please download the pattern and re-host 
for production environments. Thank you! */