/* Top to bottom */

/* Constainer ...................................................................................*/

section {
  align-items: center;
  display: flex;
  background-color: #4056A1;
  width: 90%;
  flex-direction: column; 
}


/* NewTweet UPPER ..............................................................................*/
.upper-tweet {
  padding: 2% 2% 0.5%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
  background-color: bisque;
}

form {
  width: 100%;
}

label {
  font-weight: bold;
}

/* Textarea is special, 
re-used css is needed here beccause 
it is overriding defalt behaviours */

textarea {
  width: 100%;
  background-color: bisque;
  border: none;
  color: rgb(71, 36, 36);
  border-bottom: rgb(71, 36, 36) solid 4px ;
  outline: unset;
}

/* NewTweet LOWER..............................................................................*/

.lower-tweet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  padding: 0.5% 2% 1%;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-family: 'Bungee';
  font-weight: bold;
}

.counterNegative {
  font-family: 'Bungee';
  font-weight: bold;
  color: rgb(155, 9, 9);
}

/*OldTweet ..............................................................................*/

.old-tweet {
  background-color: bisque;
  padding: 2%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
}

.tweet-container{
  display: flex;
  flex-direction: column;
  border: rgb(71, 36, 36) solid 4px;
}

header > article.old-tweet {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%
}

div.tweet-container:hover {
  filter: drop-shadow(10px 10px 4px #444449);
}

.icon-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.credentials {
  display: flex;
  align-items: center;
}

.icon {
  width: 30%;
}

.tweet-text {
  font-weight: bold;
  border-bottom: rgb(71, 36, 36) solid 4px;;
}

i:hover {
  color: #4056A1;
}

.old-tweet header {
  padding: 2% 2% 0 2%;
  height:unset;
  background-image: none;
  background-color: bisque;
  justify-content: flex-start;

}

.old-tweet footer {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-size: 20px;
}




